/* Global ==========================*/
:root{
    --primary-color-text: hsl(238, 29%, 16%);
    --primary-color-text-soft-red:  hsl(14, 88%, 65%);
    
    --background-gradient-soft-violet: hsl(273, 75%, 66%);
    --background-gradient-soft-blue: hsl(240, 73%, 65%);

    --neutral-color-text: hsl(237, 12%, 33%);
    --neutral-color-text2: hsl(240, 6%, 50%);

    --dividers: hsl(240, 5%, 91%);}

* {
    margin: 0;
    padding: 0;
  }

html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 50%;
    }

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: var(--background-gradient-soft-violet);
    background: linear-gradient(180deg, var(--background-gradient-soft-violet) 0%, var(--background-gradient-soft-blue) 100%);    
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
}


.faq {
    margin: 2rem 0;
  }
  
  .faq[open] .faq__question {
    font-weight: 700;
  }
  
  .faq[open] .faq__question::after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  
  .faq__question {
    position: relative;
    margin-bottom: 1.5rem;
    padding-right: 4rem;
    outline: none;
    list-style: none;
    color: var(--color-very-dark-greyish-blue);
    font-size: 1.625rem;
    cursor: pointer;
  }

  .faq__question {
  position: relative;
  margin-bottom: 1.5rem;
  padding-right: 4rem;
  outline: none;
  list-style: none;
  color: var(--color-very-dark-greyish-blue);
  font-size: 1.625rem;
  cursor: pointer;
}

@media only screen and (min-width: 1000px) {
  .faq__question {
    font-size: 1.75rem;
  }
}

.faq__question:hover {
  color: var(--color-soft-red);
}

.faq__question::after {
  content: url(../img/icon-arrow-down.svg);
  position: absolute;
  right: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media only screen and (min-width: 1000px) {
  .faq__question::after {
    right: 1.5rem;
  }
}

.faq__question::-webkit-details-marker {
  display: none;
}

.faq__answer {
  color: var(--color-dark-greyish-blue);
  padding-right: 4rem;
  line-height: 2rem;
}

@media only screen and (min-width: 1000px) {
    body {
      padding: 0 8rem;
    }
  }
  
  .card-cube-wrapper {
    position: relative;
  }
  
  .cube-img {
    position: absolute;
    top: -5.5rem;
    left: 50%;
    width: 12rem;
    height: auto;
    margin-left: -15.5rem;
    -webkit-animation: bob 2s infinite;
            animation: bob 2s infinite;
    z-index: 10;
  }
  
  @media only screen and (min-width: 1000px) {
    .cube-img {
      position: absolute;
      top: 25.75rem;
      left: -11.5rem;
      width: auto;
      height: auto;
      margin-left: 0;
    }
  }
  
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 32rem;
    border-radius: 3rem;
    -webkit-box-shadow: 0 5rem 5rem -10px rgba(0, 0, 0, 0.25);
            box-shadow: 0 5rem 5rem -10px rgba(0, 0, 0, 0.25);
    background: url(../img/bg-pattern-mobile.svg), white;
    background-position: 50% 0;
    background-repeat: no-repeat;
  }
  @media only screen and (min-width: 375px) {
    .card{
      width: 40rem;
    }
  }

  @media only screen and (min-width: 1000px) {
    .card {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      width: 110rem;
      max-width: none;
      height: 64rem; 
      background: url(../img/bg-pattern-desktop.svg), white;
      background-position: -72rem 68%;
      background-repeat: no-repeat;
      overflow: hidden;
    }
  }
  
  .card__img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 30rem;
    height: auto;
    margin-top: -13.75rem;
    -webkit-animation: fadeInUp 1s;
            animation: fadeInUp 1s;
    z-index: 5;
  }
  
  @media only screen and (min-width: 1000px) {
    .card__img {
      -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center;
      width: auto;
      height: auto;
      margin-top: -1.5rem;
      margin-left: -10.5rem;
    }
  }
  
  .card__text-wrapper {
    padding: 9rem 3rem;
    padding-bottom: 4rem;
    scrollbar-width: none;
  }
  
  @media only screen and (min-width: 1000px) {
    .card__text-wrapper {
      width: 50%;
      margin-left: auto;
      padding: 9rem 0;
      padding-right: 7rem;
      padding-left: 4.5rem;
    }
  }
  
  .card__text-wrapper::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
  
  .card__heading {
    text-align: center;
    margin-bottom: 5rem;
  }
  
  @media only screen and (min-width: 1000px) {
    .card__heading {
      text-align: start;
    }
  }
  
  .card hr {
    border: 0;
    border-top: 1px solid var(--dividers);
  }
  
  .attribution {
    position: absolute;
    left: 50%;
    bottom: 2rem;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    font-size: 11px;
    line-height: 1.75rem;
    text-align: center;
  }
  
  .attribution a {
    color: var(--dividers);
  }
  
  .card__heading {
    font-size: 4rem;
  }
  